

<!-- /#wrapper -->

<!-- jQuery -->
<script src="__STATIC_/admin/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__STATIC_/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__STATIC_/admin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="__STATIC_/admin/vendor/raphael/raphael.min.js"></script>
<script src="__STATIC_/admin/vendor/morrisjs/morris.min.js"></script>
<script src="__STATIC_/admin/data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__STATIC_/admin/dist/js/sb-admin-2.js"></script>

</body>

</html>
